@* @using JambRegistrationMVC *@
<form asp-action = "CreateCenter">
    <div>
        <label>Name</label>
        <input type="text" name = "Name" required/>
         <label >Address</label>
        <input type="text" name = "Address" required/>
        <label >Capacity</label>
        <input type="number" name = "Capacity" />
    </div>
    <div>
        <input type="submit" value="Register" class = "btn btn-primary" required/>
    </div>
</form>
