@* @model JambRegistrationMVC.Dtos.AdminsRequestModel  *@
<div>
    <form asp-action="UpdateSubject">
        <div>
            <label>Name</label>
            <input type="text" name="Name"/>
        </div>
    <div>
            <input type="submit" style="color: azure" value = "UpdateSubject" class="btn btn-success" required/>
        </div>        
        </form>
        <div>
            <a asp-action = "Index">Exit</a>
        </div>
</div>        