@{
    ViewData["Title"] = "Home Page";
}
<body background="color:blue">
    <div class="text-center">
    <h1 class="display-4">Welcome To Ambaaq Jamb Registration Portal</h1>
    <h2><p>Learn about <a href="https://docs.microsoft.com/aspnet/core">ambaaq@gmail.com</a>.</p></h2>
    
</div>
</body>

