@model JambRegistrationMVC.Dtos.SchoolResponseModel
<div>
        <dl>
        <dd>
            Name :
        </dd>
        <dt>
            @Model.Data.Name
        </dt>
        <dd>
            Address :
        </dd>
        <dt>
            @Model.Data.Address
        </dt>
    </dl>
    <span>Are you sure you want to remove this School?</span>
        <form asp-action="Delete" >
        <input type="submit"  value = "Delete" class="btn btn-danger" required/>
        </form>
    <a asp-action = "Index">Exit Page</a>
</div>
