@* @model JambRegistrationMVC.Dtos.AdminResponseModel *@
<div>
    <dl>
        <dd>
            Name :
        </dd>
        <dt>
            @Model.Data.Name
        </dt>
        
    </dl>
</div>
<a asp-action = "Index">Exit</a>